<!DOCTYPE html>
<html>
<head>
	<!-- It is a template page -->
	<meta charset="utf-8">
	<title>Maintenace</title>
</head>
<body>
	<h1>We'll be right back. </h1>
	<p>The site is under maintenance</p>
</body>
</html>